form input , form textarea {
    border-color: rgba(255,255,255, 0.5);

    @apply rounded text-sm bg-primary-light  py-2 px-3 box-border resize-none
    border border-solid shadow-lg
    hover:border-secondary transition-all
    
}
form label span {
    color:red
}

form div:hover > label {
    @apply text-complimentary
}

form textarea {
    @apply h-[150px]
}

form label {
    @apply pl-0 pb-1 transition-all

}

form button {
    @apply text-secondary bg-complimentary shadow-lg py-3 rounded mt-2 font-semibold border-2 border-solid border-complimentary hover:bg-primary-light hover:text-complimentary transition-all text-sm
}